.photo-card {
  border-radius: 12px;
  box-shadow: none;
  position: relative;
}

.photo-card-link {
  text-decoration: none;
}

.photo-card-image {
  display: block;
  width: 100%;
  height: auto;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.photo-card-content {
  padding-top: 12px;
  padding-bottom: 12px !important;
  padding-left: 12px;
  padding-right: 12px;
}

.photo-card-text {
  font-weight: 500;
  line-height: 1.3;
  font-size: 0.875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}